@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}


.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(300px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Add this to your styles or Tailwind CSS styles */
.toggle-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

.toggle-icon.Isactive {
  transform: rotate(90deg); /* Rotate the icon when active */
}


.active:focus {
  color: #ff0000;
}

.date{
  color: #0000000d;
font-family: Inter;
font-size: 196px;
font-style: normal;
font-weight: 500;
line-height: normal;
}